
.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 30px;
    margin-top: 0%;
    padding-top: 160px;


    @media screen and (min-width: 768px){

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 10px;
        margin-top: 0%;
        padding-top: 110px;
        
        
    }

    @media screen and (min-width: 1280px){

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 80vh;
        gap: 30px;
        margin-top: 0%;
        padding-top: 150px;
        
    }

   
}

.title {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: $font-title;

   @media screen and (min-width: 768px) {
        
       font-size: 55px;
        padding-left: 100px;
        padding-right: 100px;
        
         }

    @media screen and (min-width: 1280px){

        font-size: 92px;
        padding-left: 275px;
        padding-right: 275px;
        
    }
}

.banner_parrafo{

    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-family: $font-main;
    font-size: 16px;
    

}

.banner_logo {

    background-color: white;
    border: solid 2px white;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    padding: 14px 10px 12px 11px;
  
}



