<footer class="footer__section">

    <a class="flecha" href="#inicio">
        <img  src="./images/icoarrow.svg" alt="icono hacia arriba">
        </a>
   
<article class="listado">
    <ul class="listado1">
        <li><a class="enlace" href="https://adalab.es">ARTICLES</a></li>
        <li><a class="enlace" href="https://adalab.es">BOOKS</a></li>
        <li><a class="enlace" href="https://adalab.es">EVENTS</a></li>
        <li><a class="enlace" href="https://adalab.es">REASONS</a></li>
        <li><a class="enlace" href="https://adalab.es">TIPS</a></li>
    </ul>
</article>

<article class="redes">
    <ul class="redes_listado">
        <li><a class="enlace" href="https://adalab.es">TWITTER</a></li>
        <li><a class="enlace" href="https://adalab.es">INSTAGRAM</a></li>
        <li><a class="enlace" href="https://adalab.es">MASTODON.SOCIAL</a></li>
    </ul>
</article>

 <aside class="aside_footer">
     <p class="footer_copy">  ©2024</p> 
     <p>we <span style="color: orangered;"> ❤︎ </span> components</p>
</aside>
  
</footer>
