<section class="footer__section">

<img class="flecha" src="./images/icoarrow.svg" alt="icono hacia arriba">
    
<article class="listado">
    <ul class="listado1">
        <li>ARTICLES</li>
        <li>BOOKS</li>
        <li>EVENTS</li>
        <li>REASONS</li>
        <li>TIPS</li>
    </ul>
</article>

<article class="redes">
    <ul class="redes_listado">
        <li>TWITTER</li>
        <li>INSTAGRAM</li>
        <li>MASTODON.SOCIAL</li>
    </ul>
</article>

    <aside class="aside_footer">
        <p>we love components</p>
        <p class="footer_copy">  ©2024</p> 
    </aside>
  
</section>