<section class="reasons" id="reason">
   
    <h3 class="item1">3 Reasons To Purchase</h3>

    <article class="item2">
        <h4>Ut sed metus</h4>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>

    <article class="item3">
        <h4>Carabitur ac erat</h4>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>

    
    <article class="item4">
        <h4>Morbi dictum</h4>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </article>

    <article class="item5">
        <button class="reasons_boton">More reasons</button>
    </article>

</section>